<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curiio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<link href='https://fonts.googleapis.com/css?family=Karla' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<link rel="stylesheet" href="/about">
<link rel="stylesheet" href="/platform">
<link rel="stylesheet" href="/resources">
<link rel="stylesheet" href="/join">
</head>
<body  data-spy="scroll" data-target=".navbar" offser="70">
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-md bg-inverse navbar-inverse navbar fixed-top navbar-static-top bgcolor" id="navbar" style="cursor: pointer;">
            <div class="container start">
                <div class="container">
                    <a href="" class="navbar-brand"><h1>CURIIO</h1></a>
                  </div>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false">
                <i class="fa fa-bars"></i>
              </button>
            </div>
          
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto flex-row flex-lg-row justify-content-center">
                  <li class="nav-item active">
                    <a class="nav-link" href="#home">Home
                          <span class="sr-only">(current)</span>
                        </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/platform">Platforms</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/resources">Resources</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/join">Join</a>
                  </li>
                </ul>
              </div>
          </nav>
    </header> 
    <div>
        <div class="container">
        <img src="main_page-01.svg" alt="" class="main">
        </div>
    </div>
    <div class="abc" id="home">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Who are we?</h1>
                    <P>CURIIO. A step towards progressive dialogue <br> between parents and 
                        children. <br> Answering all your curiosities through
                        videos <br> and blogs. Know all about adolescence puberty, <br>
                        reproduction and sex.
                    </P>
                </div>
                <div class="col-md-6">
                    <img src="who.svg" alt="">
                </div>
            </div>    
        </div>
    </div>
    

    <section class="section2">
        <div class="container">
            <h1 class="text-center">Features</h1>
            <div class="row">
                <div class="col-lg-2">
                    <div class="box b1">
                        <div class="imgbox">
                           <img src="f1.png" alt="">
                        </div>
                        <div class="details">
                           <h1 class="text-center" style="font-size: 120%; font-weight:800;">Verified Content</h1>
                           <p class="pt-2"> With so much information explosion, we have curated a platform which stands through authenticity. We have simple and verified content, making it user friendly. <br>
                           </p>
                        </div>
            
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="box b2">
                        <div class="imgbox">
                           <img src="f2.png" alt="">
                        </div>
                        <div class="details">
                           <h1 class="text-center" style="font-size:120%; font-weight:800;">Age Appropriate</h1>
                           <p class="pt-1">We understand the need of right education at the right time and so our
                            website offers age appropriate slabs for every piece of info or article,
                            which comes with age lock—-Where quality meets responsibility.
                        </p>
                        </div>
            
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="box b3">
                        <div class="imgbox">
                           <img src="f3.png" alt="">
                        </div>
                        <div class="details">
                           <h1 class="text-center" style="font-size: 120%; font-weight:800;">Expert Advice</h1>
                           <p class="pt-3">The right insights and guidance are a must, so we have professional
                            experts in our chatroom section for both parents and children, believing to
                            add niche to our safe comfy space.</p>
                        </div>
            
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="box b4">
                        <div class="imgbox">
                           <img src="f4.png" alt="">
                        </div>
                        <div class="details">
                           <h1 class="text-center" style="font-size: 120%; font-weight:800;">Child Progress</h1>
                           <p class="pt-2">A strategic cool feature of our website allows parents to track and adjust the digital surfing of children of a small group age, ensuring they have access to the right content while tracking their progress.</p>
                        </div>
            
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="box b5">
                        <div class="imgbox">
                           <img src="f5.png" alt="">
                        </div>
                        <div class="details">
                           <h1 class="text-center" style="font-size:120%; font-weight:800;">Interactive Videos</h1>
                           <p class="pt-3"> We get it!! articles can be boring, so we got it covered through some short quirky videos, which are both interactive and interesting. 
                        </p>
                        </div>
            
                    </div>
                </div>
            </div>
        </div>
 </section>

 <section class="section3">
     <div class="container">
         <h1 class="text-center">How it works?</h1>
         <div class="row">
             <div class="col-md-6 ide">
                 <img src="image 1.svg" alt="" style="width: 110%;">
             </div>
             <div class="col-md-6 idea">
                <h2 class="text-center" style="color: #2e4f60;">Idea</h2>
                <p>
                   The intent behind this was to create a common platform for sex education,
as we believe in its importance as well as its positive impact. The aim is to
help young children and adults to bridge the awkwardness and hesitancy
as well as to navigate young minds through a more sorted path.
                </p>
             </div>
         </div>
         <div class="row">
             <div class="col-md-6 order-md-2 re">
                <img src="image 2.svg" alt="" style="width: 110%;">
            </div>
             <div class="col-md-6 order-md-1 research">
                <h2 class="text-center" style="color: #2e4f60;">Research</h2>
                <p>
                    This one’s endless—innumerable hours of web searching, case studies,
                    plethora of ideas and pangs of bursting myths later, there we were-
                    working through piles of articles to get the best content possible.
                </p>
             </div>
         </div>
         <div class="row">
            <div class="col-md-6 su">
                <img src="image 3.svg" alt="" style="width: 110%; margin-top: 10%;">
            </div>
            <div class="col-md-6 survey">
                <h2 class="text-center" style="color: #2e4f60;">Survey</h2>
                <p>
                    A questionnaire was circulated widely amongst students and teachers to
gauge their view on various issues regarding sex ed— from importance to
types to the way of its discourse, it was one hefty task. 
                </p>
             </div>
         </div>
         <div class="row">
             <div class="col-md-6 order-md-2 re">
                <img src="image 4.svg" alt="" style="width: 110%;">
            </div>
             <div class="col-md-6 order-md-1 research">
                <h2 class="text-center" style="color: #2e4f60;">Analysis</h2>
                <p>
                    Responses were collected and extensively analysed, this was crucial
                            in deciding for the next steps and the way the momentum was to take
                            shape, this helped us in structuring our ideas cohesive to prevailing
                            majority.
                </p>
             </div>
         </div>
         <div class="row">
            <div class="col-md-6 su">
                <img src="image 5.svg" alt="" style="width: 110%; margin-top: 10%;">
            </div>
            <div class="col-md-6 survey">
                <h2 class="text-center" style="color: #2e4f60;">Website</h2>
                <p>
                    The website is the “one all” place, links to our resources, easy surfing,
guided access and get to know about us.
                </p>
             </div>
         </div>
         <div class="row">
            <div class="col-md-6 order-md-2 re">
                <img src="image 6.svg" alt="" style="width: 110%;">
            </div>
             <div class="col-md-6 order-md-1 research">
                <h2 class="text-center" style="color: #2e4f60;">Collaboration</h2>
                <p>
                    Working on the lines of our vision, we would want to collaborate with a
                    NGO, or any authentic legitimate agency which will help us further our
                    agenda of reaching to larger sections of the country and to support us in
                    our endeavour to create an informative quality safe platform for better sex
                    ed.
                </p>
             </div>
         </div>
         <div class="row">
            <div class="col-md-6 su">
                <img src="image 7.svg" alt="" style="width: 110%; margin-top: 10%;">
            </div>
            <div class="col-md-6 survey">
                <h2 class="text-center" style="color: #2e4f60;">App Launch</h2>
                <p>
                   
                </p>
             </div>
         </div>
         </div>
     </div>
 </section>

 <section class="section4">
        <h1 class="text-center pt-5">Team</h1>
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators c">
              <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="container">
              <div class="carousel-item active">
                    <div class="test">
                        <i class="fa fa-quote-left"></i>
                        <h3>Research Team</h3>
                <p style="color: #ec892e;">Research is creating new knowledge "-Neil Armstrong"</p>
                <ul>
                    <li class="text-center"> <b>Saumya</b>   <a href=""><i class="fa fa-linkedin"></i></a></li>
                    <li> <b>Kriti Bhargava</b>   <a href=""><i class="fa fa-linkedin"></i></a></li>
                </ul>
                    </div>
              </div>
              <div class="carousel-item">
                <div class="test">
                    <i class="fa fa-quote-left"></i>
                    <h3>Social-media Team</h3>
                    <p style="color: #ec892e;">It's a dialogue not a monologue</p>
                    <ul>
                        <li> <b>Pooja Jain</b> <a href=""><i class="fa fa-linkedin"></i></a></li>
                        <li> <b>Aksa Anna</b> <a href=""><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
              </div>
              <div class="carousel-item">
                <div class="test">
                    <i class="fa fa-quote-left"></i>
                    <h3>Design Team</h3>
                    <p style="color: #ec892e;">Adding creativity to our triumphs</p>
                    <ul>
                        <li> <b>Khushi Kshirsagar</b> <a href=""><i class="fa fa-linkedin"></i></a></li>
                        <li> <b>Maitreyi</b> <a href=""><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
              </div>
              <div class="carousel-item">
                <div class="test">
                    <i class="fa fa-quote-left"></i>
                    <h3>Techincal Team</h3>
                <p style="color: #ec892e;">Helping technology get better</p>
                <ul>
                    <li class="a"> <b>Manav kapil</b> <a href=""><i class="fa fa-linkedin"></i></a></li>
                    <li class="a"> <b>Manasi Potnis</b> <a href=""><i class="fa fa-linkedin"></i></a></li>
                    <li class="a"> <b> Vishwas Tanwar</b> <a href=""><i class="fa fa-linkedin"></i></a></li>
                    <li class="a"> <b>Unnati Jain</b> <a href=""><i class="fa fa-linkedin"></i></a></li>
                </ul>
                </div>
              </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
 </section>
    <style>
        .b1{
            transform: translateX(-50%);
        }
        .b2{
            transform: translateX(-20%);
        }
        .b3{
            transform: translateX(10%);
        }
        .b4{
            transform: translateX(30%);
        }
        .b5{
            transform: translateX(50%);
        }
        .curved{
            background:#f9e5dd;
        }
        body{
            background: white;
        }
        .nav-link{
            color:#33454e;
            font-family: 'Montserrat'
        }
        #navbar{
            height: 70px;
            background: transparent;
        }
        .navbar-brand{
            color: #ec892e;
        }
        .fa-bars{
            color: white;
            font-size: 170%;
        }
        .nav-link:hover{
            color: #ec892e;
        }
        .active .nav-link{
            color: #ec892e;
        }
        .abc{
            padding-top: 10%;
            margin-bottom:5% ;
        }
        
        .abc p{
            font-size: 130%;
            padding-top:5% ;
            font-weight: 200;
            font-family: 'Montserrat'
        }
        .abc h1{
            font-size: 450%;
            padding-top: 10%;
            color: #2e4f60;
            font-family: 'Karla';
        }
        .abc img{
            padding-top: 10%;
        }
        .main{
            padding-top: 5%;
        }
        .section2{
            margin-top: 5%;
            margin-bottom: 5%;
        }
        .section2 h1{
            font-size: 450%;
            color:#2e4f60 ;
            font-family: 'Karla';
        }
        .box{
            position: relative;
            width: 180px;
            height: 300px;
            background: white;
            margin-left: 50%; 
            margin-top: 55%;  
            border: 2px solid #214e8b;   
        }
        .box .imgbox{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
        .imgbox img{
            width: 180px;
            position: absolute;
            top: 0;
            left: 0;
            height: 250px;
            transition: 0.5s; 
            padding: 10%;   
        }
        .box:hover .imgbox img{
            opacity: 0;
        }
        .box .details{
            position: absolute;
            bottom: 20px;
            left: 10%;
            width: 80%;
            height: 60px;
            background: white;
            transition: 0.5s;
            overflow: hidden;
            padding: 15px;
            box-sizing: border-box;
        }
        .box:hover .details{
            height: 100%;
            width: 100%;
            bottom: 0;
            left: 0;
        }
        .box .details h1{
            margin: 0;
            padding: 0;
            font-size: 40px;
            font-family: 'Karla';
        }
        .box .details p{
            margin: 10px 0 0;
            padding: 0;
            opacity: 0;
            line-height: 1.2em;
            transition: 0.5s;
            text-align: justify;
            font-family: 'Montserrat'
        }
        .box:hover .details p{
            opacity: 1;
            transition-delay: 0.5s;

        }
        .section3{
            margin-top: 5%;
            margin-bottom: 5%;
        }
        .section3 h1{
            font-size: 450%;
            color:#2e4f60 ;
            font-family: 'Karla';
        }
        .ide{
            border-right: 3px solid #2e4f60;
            border-bottom: 3px solid #2e4f60;
        }
        .idea{
            margin-top: 5%;
        }
        .idea h2{
            font-family: 'Karla';
        }
        .idea p{
            margin-top: 12%;
            text-align: center;
            font-family: 'Montserrat'
        }
        .research{
            border-left: 3px solid #2e4f60;
            border-bottom: 3px solid #2e4f60;
        }
        .research h2{
            margin-top: 15%;
            font-family: 'Karla';
        }
        .research p{
            margin-top: 12%;
            text-align: center;
            font-family: 'Montserrat'
        }
        .su{
            border-right: 3px solid #2e4f60;
            border-bottom: 3px solid #2e4f60;
        }
        .survey{
            margin-top: 12%;
        }
        .survey h2{
            font-family: 'Karla';
        }
        .survey p{
            margin-top: 12%;
            text-align: center;
            font-family: 'Montserrat'
        }
        .section4{
            margin-top: 5%;
            margin-bottom: 5%;
            background: #ec892e;
        }
        .section4 h1{
            font-size: 450%;
            color:#2e4f60 ;
            font-family: 'Karla';
        }
        .section4 h3{
            color: #214e8b;
        }
        .section4 ul{
           list-style-type: none;
        }
        .section4 ul li{
            color: #2e4f60;
            font-size: 120%;
        }
        .section4 p{
            font-size: 120%;
        }
        .test{
    background: white;
    text-align: center;
    padding: 30px 30px 50px;
    margin: 0 15px 100px;
    position: relative;
    margin-top: 15%;
}
.test:before, .test:after{
   content: "";
   border-top: 40px solid white;
   border-right: 125px solid transparent;
   position: absolute;
   bottom: -40px;
   left: 0;
}
.test:after{
    border-right: none;
    border-left: 125px solid transparent;
    border-top: 40px solid white;
    left: auto;
    right: 0;
}
.fa-quote-left{
    display: inline-block;
    font-size: 400%;
    color: #f2a042;
    margin-bottom: 5%;
    opacity: 0.6;
}
.i{
    height: 100px;
}
.carousel{
    width: 50%;
    left: 25%;
    margin-bottom: 5%;
    padding-bottom:5% ;
}
.c{
    padding-top: 50%;
    margin-top: 20%;
}
       
        @media (max-width: 990px){
            .fa-bars{
            color: #ec8929;
            font-size: 170%;
            transform: translateY(-170%);
        }
            .carousel-control-next{
                transform: translateX(40%);
            }
            .carousel-control-prev{
                transform: translateX(-40%);
            }
            .section4 .a{
                font-size: 70%;
            }
            .section4 .fa-quote-left{
                transform: translateX(0%);
            }
            .section4 ul li{
            color: #2e4f60;
            font-size: 70%;
            transform: translateX(-5%);
        }
        .section4 h3{
            font-size: 200%;
            transform: translateX(0%);
        }
        .section4 p{
            font-size: 75%;
            text-align: center;
            transform: translateX(0%);
        }
            .carousel{
                margin-top:5%;
            }
            .test:before, .test:after{
   content: "";
   border-top: none;
   border-right: none;
   position: absolute;
   bottom: -40px;
   left: 0;
}
            .test:after{
    border-right: none;
    border-left: none;
    border-top: none;
    
}
            .carousel-item{
    width: 100%;
}
.section4 ul{
           list-style-type: none;
           align-items: center;
        }
            .main{
            padding-top: 35%;
        }
            .abc h1{
            font-size: 450%;
            padding-top: 10%;
            color: #2e4f60;
            font-family: 'Karla';
            text-align: center;
        }
        .abc p{
            font-size: 130%;
            padding-top:5% ;
            font-weight: 200;
            font-family: 'Montserrat';
            text-align: center;
        }
            .box{
            position: relative;
            width: 280px;
            height: 300px;
            background: white;
            margin-left: 30%; 
            margin-top: 15%;  
            border: 2px solid #214e8b;   
        }
        .imgbox img{
            width: 280px;
            position: absolute;
            top: 0;
            left: 0;
            height: 300px;
            transition: 0.5s; 
            padding: 10%;   
        }
        .box .details p{
            margin: 10px 0 0;
            padding: 0;
            opacity: 0;
            line-height: 1.4em;
            transition: 0.5s;
            text-align: justify;
            font-family: 'Montserrat';
            font-size: 120%;
        }
            .b1{
            transform: translateX(0%);
        }
        .b2{
            transform: translateX(0%);
        }
        .b3{
            transform: translateX(0%);
        }
        .b4{
            transform: translateX(0%);
        }
        .b5{
            transform: translateX(0%);
        }  
        }

        @media (max-width: 767px){
            .section4 ul li{
            color: #2e4f60;
            font-size: 80%;
           
            align-content: center;
            transform: translateX(-10%);
        }
            .box{
            position: relative;
            width: 280px;
            height: 300px;
            background: white;
            margin-left: 10%; 
            margin-top: 15%;  
            border: 2px solid #214e8b;   
        }
            .su{
            border: none;
        }
        .research{
           border: none;
        }
        .ide{
            border: none;
        }
        }
        @media (max-width: 420px){
            .carousel-control-next{
                transform: translateX(80%);
            }
            .section4 .a{
                font-size: 70%;
            }
            .section4 .fa-quote-left{
                transform: translateX(-100%);
            }
            .section4 ul li{
            color: #2e4f60;
            font-size: 70%;
            transform: translateX(-30%);
        }
        .section4 h3{
            font-size: 200%;
            transform: translateX(-20%);
        }
        .section4 p{
            font-size: 75%;
            text-align: center;
            transform: translateX(-20%);
        }
        .test{
    background: white;
    text-align: center;
    padding:5%;
    margin:5%;
    position: relative;
    margin-top: 15%;
}
            .test:before, .test:after{
   content: "";
   border-top: none;
   border-right: none;
   position: absolute;
   bottom: -40px;
   left: 0;
}
            .test:after{
    border-right: none;
    border-left: none;
    border-top: none;
    
}
            .carousel{
    width: 80%;
    left: 5%;
    margin-top: -15%;
    margin-bottom: 5%;
    padding-bottom:5% ;
}
            .carousel-item{
                width: 170%;
            }
            .box{
            position: relative;
            width: 300px;
            height: 300px;
            background: white;
            margin-left: 10%; 
            margin-top: 15%;  
            border: 2px solid #214e8b;   
        } 
        .imgbox img{
            width: 300px;
            position: absolute;
            top: 0;
            left: 0;
            height: 300px;
            transition: 0.5s; 
            padding: 10%;   
        }
        }
        @media (max-width: 380px){
            .section4 h3{
            font-size: 150%;
            transform: translateX(-20%);
        }
        .section4 p{
            font-size: 65%;
            text-align: center;
            transform: translateX(-20%);
        }
        .section4 .a{
                font-size: 60%;
            }
        }

        @media (max-width: 330px){
            .section4 p{
            font-size: 55%;
            text-align: center;
            transform: translateX(-20%);
        }
        .section4 .a{
                font-size: 50%;
            }
            .box{
            position: relative;
            width: 230px;
            height: 300px;
            background: white;
            margin-left: 10%; 
            margin-top: 15%;  
            border: 2px solid #214e8b;   
        } 
        .imgbox img{
            width: 230px;
            position: absolute;
            top: 0;
            left: 0;
            height: 300px;
            transition: 0.5s; 
            padding: 10%;   
        }
        }
    </style>

    <script>
         $(window).scroll(function(){
        if($(this).scrollTop()>100){
        $('.navbar').css("background-color","#2e4f60");
        $('.nav-link').css("color","white");
        $('.nav-item .active').css("color","ec892e")
        }
        else{
            $('.navbar').css("background-color", "transparent"); 
            $('.nav-link').css("color","black");
        }
    })
    </script>
</body>
</html>